<div class=" welcome">

    <!-- <iframe allow="microphone;" width="350" height="430"
        src="https://console.dialogflow.com/api-client/demo/embedded/b73e0ae0-7266-4c54-a207-a10aa463601d">
    </iframe> -->
    <br />
    <br />
    <br />
    <div class="container ti">
        <h2>{{'welcome' | translate}} Ti</h2>
        <p>We help students find best tutors and coordinators</p>
        <p>Our Services offers you better educational guidance with a lower price </p>
        <p><a class="nav-link" href="login">Signup</a> or <a class="nav-link" href="login">Login</a></p>
    </div>
    <!--Conetent-->
    <div class="container content">
        <div class="row">
            <a href='/availablePacks' class="pack rounded  col-sm">
                <i class="fas fa-school fa-4x"></i>
                <p>
                    Primary packages
                </p>
            </a>
            <a href='/availablePacks' class="pack rounded col-sm">
                <i class="fas fa-book fa-4x"></i>
                <p>
                    ECU packages
                </p>
            </a>
            <a href='/availablePacks' class="pack rounded col-sm">
                <i class="fas fa-university fa-4x"></i>
                <p>
                    University packages
                </p>
            </a>
        </div>

        <div class="row card-deck">
            <div class="col-xl-3 col-sm-6 mb-5 gr-1">
                <div class="bg-white rounded shadow-sm py-5 px-4 card">
                    <div class="card-header">Sign Up</div>
                    <div class="card-body">Sign up for free and look through what our tutors can offer<p>You will have a
                            coordinator to accompany you throughout the process.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm justify-content-center align-items-cente arrowr"><i class="far fa-arrow-right"></i></div>
            <div class="col-xl-3 col-sm-6 mb-5 gr-2">
                <div class="bg-white rounded shadow-sm py-5 px-4 card">
                    <div class="card-header">Coorddinator</div>
                    <div class="card-body">Base on you level, you will be matched with a coordinator to help you out
                        along the way</div>
                </div>
            </div>
            <div class="col-sm justify-content-center align-items-center arrow "><i class="far fa-arrow-right"></i>
            </div>
            <div class="col-xl-3 col-sm-6 mb-5 gr-3 ">
                <div class="bg-white rounded shadow-sm py-5 px-4 card">
                    <div class="card-header">To class!</div>
                    <div class="card-body">Start your classes with your tutors . coordinators will help you choose best
                        choices for you and guide you for a better result .</div>
                </div>
            </div>
        </div>

        <!--Why US-->
        <div class=" whyUs container">
            <h2 class="whyUsH">Why Us?</h2>
            <p class="whyUsH">Because education moves us. Because the future moves us.</p>
            <div class="row">
                <div class="col">
                    <img class="whyUsPic shadow " src="../../../assets/img/sLaptop.jpg" />
                </div>
                <div class="col">
                    <div class="reasons">
                        <div class="reason">
                            <span style="font-size: 3em; color: Tomato;">
                                <i class="fas fa-book-open"></i>
                            </span>
                            <h5>EDUCATION LEVEL</h5>
                            <p>All our tutors and coordinators are graduates of some pedagogical or related career.</p>
                        </div>
                        <div class="reason">
                            <span style="font-size: 3em; color: Dodgerblue;">
                                <i class="fas fa-fingerprint"></i>
                            </span>
                            <h5>DIGITAL NATURE</h5>
                            <p>Our project was born digital; we have the best online tools for each student.</p>
                        </div>
                        <div class="reason">
                            <span style="font-size: 3em; color: Mediumslateblue;">
                                <i class="fas fa-users"></i>
                            </span>
                            <h5> CONSTANT COORDINATIONL</h5>
                            <p>You will have a coordinator to answer your questions, join the team of tutors, get the
                                best study
                                material and accompany you throughout the process.</p>
                        </div>
                        <div class="reason">
                            <span style="font-size: 3em; color: Dodgerblue;">
                                <i class="fas fa-check-double"></i>
                            </span>
                            <h5>QA</h5>
                            <p>Your coordinator will make sure to uphold the quality of your experience. All of our
                                tutors are
                                certified and constantly evaluated.</p>
                        </div>
                        <div class="reason">
                            <span style="font-size: 3em; color: lime;">
                                <i class="fas fa-dollar-sign"></i>
                            </span>
                            <h5>PRICE PER HOUR</h5>
                            <p>Our hour packages combine the best prices with the best quality.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--Why US ENDS-->
        <!--About Us
        <div class="container aboutUs">
            <h2 class="aboutUsH">About Us</h2>
            <p class="aboutUsH"> Get to know us </p>
            <div class="aboutUscards">
                <div class="row">
                    <div class="col-xl-3 col-sm-6 mb-5 aboutUscard ">
                        <div class="bg-white rounded shadow-sm py-5 px-4 ">
                            <img class="card-img-top" src="../../../assets/img/sLaptop2.jpg" alt="Card image cap">
                            <div class="card-body">We are a solid team of professionals born in times of pandemic,
                                willing
                                to take the best of the old world to face the new. </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 mb-5  aboutUscard">
                        <div class="bg-white rounded shadow-sm py-5 px-4 ">
                            <div class="card-body">We are a digital education company, our essence is the online world.
                                We bring the best tutors to our students. </div>
                            <img class="card-img-top" src="../../../assets/img/sLaptop3.jpg" alt="Card image cap">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->
        <!--About Us ENDS-->


    </div>

    <div class="footer">
        Made with <i class="far fa-heart"></i> by G6
    </div>

</div>