.card{
    min-height:10vh;
    padding: 1.7rem 1.2rem;
    margin-bottom: 0.5rem;
    border: none;
    border-radius: 0;
    color:rgba(0,0,0,1);
    letter-spacing: .05rem;
    font-family: 'Oswald', sans-serif;
    box-shadow: 0 0 10px rgba(0,0,0,.27);
}
