<div class="tutorName">Adam V.d Merve</div>
<button class="btn btn-info ">Choose</button>
<div class="row float-right">
    <div class="tutorFilters  ">
        <div class="row">
            <div class="col-1"><span class="badge badge-secondary"><i class="fas fa-divide"></i></span></div>
            <div class="col-1"><span class="badge badge-primary"><i class="fas fa-cogs"></i></span></div>
            <div class="col-1"><span class="badge badge-success"><i class="fas fa-ruler-triangle"></i></span></div>
        </div>
    </div>
</div>
<br />
<div class="row float-right">
    <div class="tutorFilters ">
        <div class="row">
            <div class="col-1"><span class="badge badge-light"><i class="fal fa-school"></i></span></div>
            <div class="col-1"><span class="badge badge-light"><i class="far fa-tachometer-fastest"></i>></span></div>

        </div>
    </div>
</div>