<app-navbar></app-navbar>
<div class="container h-100">
    <p >Please select you package to continue with your registeration </p>
    <div class="row align-middle">
        <h2>ECU Packs</h2>
        <div class="col-md-6 col-lg-4 column">
            <div class="card gr-1">
                <div class="txt">
                    <h1>Group Pack</h1>
                </div>
                <h3>60$</h3>
                <ul>
                    <li> Small groups </li>
                    <li>
                        Maximum 5 students
                    </li>
                    <li>
                        Cheaper option
                    </li>
                    <li>
                        5 hour pack
                    </li>
                    <li>
                        Up to 1 subject
                    </li>
                    <li>
                        28 days of validity
                    </li>
                </ul>
                <a href='/signup'>Buy Now</a>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 column">
            <div class="card gr-2">
                <div class="txt">
                    <h1>Individual Pack</h1>
                </div>
                <h3>110$</h3>
                <ul>
                    <li>Individual classes </li>
                    <li>
                        Advice and personalized coordination
                    </li>
                    <li>
                        2 coordination sessions
                    </li>
                    <li>
                        Tests and activities
                    </li>
                    <li>
                        8 hour pack
                    </li>
                    <li> Up to 2 subjects

                    </li>
                    <li>
                        35 days of validity
                    </li>
                </ul>
                <a href='/signup'>Buy Now</a>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 column">
            <div class="card gr-3">
                <div class="txt">
                    <h1>Premium Pack</h1>
                </div>
                <h3>180$</h3>

                <ul>
                    <li>Individual pack +
                    </li>
                    <li>
                        1 extra Coordination session
                    </li>
                    <li>
                        Vocational or autonomy test
                    </li>
                    <li> Work on study habits
                    </li>
                    <li>
                        Constitution of study plan
                    </li>
                    <li>
                        10 hour pack
                    </li>
                    <li>
                        Up to 2 subjects</li>
                    <li>
                        42 days of validity
                    </li>
                </ul>
                <a href='/signup'>Buy Now</a>
            </div>
        </div>
    </div>
</div>

