<!-- {{q[0].qualification_id}} -->


<div class="main">
    <header>
        <nav>
            <div class="menu">
                <ul>
                    <li class="welcomeRight"> <a href="editProfile" style="padding-left: 1rem;"><img
                                src="../../../assets/img/studentpp.jpg" class="rounded"
                                style="width: 2rem; height: 2rem; border-radius: 1rem;" alt=""></a>
                        Welcome <strong>{{auth.name}}</strong>
                    </li>
                    <li><span style="font-size: 1rem;">
                            <i class="fas fa-bell"></i>
                        </span></li>
                        <li><a class="link" href="/chat">Messages</a></li>

                    <li><a class="link" routerLink="/login">Logout</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <script>

    </script>

    <div class="row">
        <div class="col-4">
            <div class="container">
                <div class="package" *ngIf="showStudent">
                    <app-package></app-package>
                </div>
                <div class="package" *ngIf="showTutor">
                    <app-qualification></app-qualification>
                </div>
                <div class="package widener" *ngIf="showCoordinator">
                    <div class="card-title p-2 bg-dark text-white">Available teachers:</div>
                    <div class="card-body overflow-auto tutors">
                        <app-tutor-filter></app-tutor-filter>
                    </div>

                </div>


                <div class="courses" *ngIf="showStudent">
                    <div class="card-title p-2 bg-info text-white">Current Courses:</div>
                    <div class="card-body">
                        <p><strong class="bg-dark text-white">Basic Math</strong></p>
                        <p>By <strong class="tutorName">Adam V.d Merve</strong></p>
                    </div>
                    <hr />
                    <div class="card-body">
                        <p><strong class="bg-dark text-white">Basic Physics</strong></p>
                        <p>By <strong class="tutorName">Edgarads V.d Zeeland</strong></p>
                    </div>


                </div>

                <div class="courses" *ngIf="showCoordinator">
                    <div class=" p-2 bg-warning text-white">Upcoming Meetings:</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="meeting">
                                    <div class="d-inline">
                                        <strong class="d-inline p-2 bg-dark text-white day">2</strong>
                                        <div class="d-inline p-2 bg-dark text-white month">Feb</div>
                                    </div>
                                    <div class="detailedMeeting">
                                        <div class="with"><small>Student:</small><strong>Sedrick Bennon</strong></div>
                                        <div class="meetingInfo">
                                            <ul class="points">
                                                <li>General Q&A</li>
                                                <li>General Guidance</li>
                                                <li>individual study progress disscussion</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <hr />
                        <div class="row">
                            <div class="meeting">
                                <div class="d-inline">
                                    <strong class="d-inline p-2 bg-dark text-white day">4</strong>
                                    <div class="d-inline p-2 bg-dark text-white month">Feb</div>
                                </div>
                                <div class="detailedMeeting">
                                    <div class="with"><small>Student:</small><strong>Nick James</strong></div>
                                    <div class="meetingInfo">
                                        <ul class="points">
                                            <li>General Q&A</li>
                                            <li>individual study progress disscussion</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-8" *ngIf="showStudent">
            <app-calendar></app-calendar>
        </div>
        <div class="col-8" *ngIf="showTutor">
            <app-calendar></app-calendar>

        </div>
        <div class="col-8" *ngIf="showCoordinator">
            <app-calendar></app-calendar>
        </div>

    </div>

</div>