
  #profileNav{
      height: 3rem;
      margin-bottom: 1rem;
  }


  .calendar{
      height: 36rem;
  }
  .package{
      height: 18rem;
  }
  .courses{
  }
.courses .tutorName{
    font: 9px;
}
  .day{
      font-size: 20px;
      width: 5rem;
      height: 5rem;
  }
  .month{
      font-size: 14px;
      opacity: 0.7;
      width: 5rem;
      height: 5rem;
  }
  .detailedMeeting{
      margin-top: 1rem;
  }
  .moreWelcome{
      float: right;

  }
  .type{
    margin-top: 1rem;
}
.welcomeUser{
    font-size: 14px;

}
.chatboxModal{
    position: fixed;
  right: 0;
  bottom: 0;
  width: 20%;
  padding: 0px 20px;

  background-color: red;
  color: white;
  text-align: center;
}
.modal-dialog{
    justify-content: center;    width: 50rem;

}
.modal-dialog .modal-content{
    margin-left: -7rem;    width: 50rem;

}
.tutors{
    height: 18rem;
}
.tutor{
    height: 6rem;
    border-bottom: dodgerblue solid 1px;

    display: block;
}
.tutorName{
    font-size: 18px;
    width: 12rem;
    padding: 0;
    margin-right:0 ;
    margin-left:0 ;
    padding-bottom: 1rem;
}

.tutor .tutorFilters {
    display: inline-block;
    margin-top: -1rem;
}

.tutor  .row{
    width: 10rem;
}
.widener{
    margin-bottom: 5rem;
}

header {
    width: 100%;
    height: 10vh;

}

.content {
    width: 94%;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
}

.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

nav {
    width: 100%;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    padding: 0;
    text-align:right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}
#welcomeRight{
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    padding: 0;
    text-align:left;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav.black ul {
    background: #000;
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;;
}

nav ul li a {
    text-decoration: none;
    font-size: 16px;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

