<div class="card-title p-2 gr-1 "><h5>Current Package:</h5></div>
<div class="card gr-1 ">
    <div class="card-body ">
        <div class="row">
            
        <div class="txt col-6">
            <h1 > {{packName}}</h1>
            <h5> <small>{{auth.levelOfEdu}}</small> </h5>

            <h4> {{price}} $  </h4>
        </div>
        <div class="col-6">
        <a class="btnUpgrade" href="#">
            <h4>
                Upgarde Now!
            </h4>
        </a>
        </div>
        </div>
    </div>
</div>


