<app-navbar></app-navbar>

<div class="container h-100">
    <div class="row align-middle">
        <h2>ECU Packs</h2>
        <div class="col-md-6 col-lg-4 column">
            <div class="card gr-1">
                <div class="txt">
                    <h1>Basic Pack</h1>
                </div>
                <h3>60$</h3>
                <ul>
                    <li> Small groups </li>
                    <li>
                        Maximum 5 students
                    </li>
                    <li>
                        Cheaper option
                    </li>
                    <li>
                        5 hour pack
                    </li>
                    <li>
                        Up to 1 subject
                    </li>
                    <li>
                        28 days of validity
                    </li>
                </ul>
                <a href='/signup'>Buy Now</a>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 column">
            <div class="card gr-2">
                <div class="txt">
                    <h1>Individual Pack</h1>
                </div>
                <h3>110$</h3>
                <ul>
                    <li>Individual classes </li>
                    <li>
                        Advice and personalized coordination
                    </li>
                    <li>
                        2 coordination sessions
                    </li>
                    <li>
                        Tests and activities
                    </li>
                    <li>
                        8 hour pack
                    </li>
                    <li> Up to 2 subjects

                    </li>
                    <li>
                        35 days of validity
                    </li>
                </ul>
                <a href='/signup'>Buy Now</a>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 column">
            <div class="card gr-3">
                <div class="txt">
                    <h1>Premium Pack</h1>
                </div>
                <h3>180$</h3>

                <ul>
                    <li>Individual pack +
                    </li>
                    <li>
                        1 extra Coordination session
                    </li>
                    <li>
                        Vocational or autonomy test
                    </li>
                    <li> Work on study habits
                    </li>
                    <li>
                        Constitution of study plan
                    </li>
                    <li>
                        10 hour pack
                    </li>
                    <li>
                        Up to 2 subjects</li>
                    <li>
                        42 days of validity
                    </li>
                </ul>
                <a href='/signup'>Buy Now</a>
            </div>
        </div>
    </div>
</div>

<div class="container h-100">
    <div class="row align-middle">
        <h2>Higher Packs</h2>
        <div class="col-md-6 col-lg-4 column">
            <div class="card gr-1">
                <div class="txt">
                    <h1>Rehearsal Assistance</h1>
                </div>
                <h3>50$</h3>
                <ul>
                    <li> Essay guide and correction

                    </li>
                    <li>
                        25 days of validity
                    </li>
                    <li>
                        Via mail
                    </li>
                </ul>
                <a routerLink='/order'>Buy Now</a>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 column">
            <div class="card gr-2">
                <div class="txt">
                    <h1>Individual Pack</h1>
                </div>
                <h3>80$</h3>
                <ul>
                    <li>Individual classes </li>
                    <li>
                        Essays, practical work, others</li>
                    <li>
                        30 days of validity
                    </li>
                    <li>
                        Advice and personalized coordination
                    </li>



                </ul>
                <a routerLink='/order'>Buy Now</a>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 column">
            <div class="card gr-3">
                <div class="txt">
                    <h1>Premium Pack</h1>
                </div>
                <h3>130$</h3>

                <ul>
                    <li>
                        Individual pack +

                    </li>
                    <li>
                        Only applies to thesis
                    </li>
                    <li>

                        35 days of validity
                    </li>

                    <li>
                        Basic coordination
                    </li>


                </ul>
                <a routerLink='/order'>Buy Now</a>
            </div>
        </div>
    </div>
</div>

<div class="container h-100">
    <div class="row align-middle">
        <h2>Basic and Medium Packs</h2>
        <div class="col-md-6 col-lg-4 column">
            <div class="card gr-1">
                <div class="txt">
                    <h1>Economic Pack</h1>
                </div>
                <h3>40$</h3>
                <ul>
                    <li>1 Coordination session
                    </li>
                    <li>
                        Tests and activities
                    </li>
                    <li>
                        Up to two subjects
                    </li>
                    <li>
                        Minimum pack of 12 hours
                    </li>
                    <li>
                        28 days of validity
                    </li>
                </ul>
                <a routerLink='/order'>Buy Now</a>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 column">
            <div class="card gr-2">
                <div class="txt">
                    <h1>Economic Pack</h1>
                </div>
                <h3>90$</h3>
                <ul>

                    <li> 2 Coordination sessions

                    </li>
                    <li>
                        Custom Choice of Tutor
                    </li>
                    <li>
                        Vocational or autonomy test
                    </li>
                    <li>
                        Work on study habits
                    </li>
                    <li>
                        Constitution of study plan
                    </li>
                    <li>Up to three subjects
                    </li>
                    <li>
                        Minimum pack of 12 hours
                    </li>
                    <li>
                        35 days of validity
                    </li>
                </ul>
                <a routerLink='/order'>Buy Now</a>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 column">
            <div class="card gr-3">
                <div class="txt">
                    <h1>Dynamic Pack</h1>
                </div>
                <h3>130$</h3>
                <ul>
                    <li> Ideal Pack +

                    </li>
                    <li>
                        1 extra Coordination session
                    </li>
                    <li>
                        Up to four subjects
                    </li>
                    <li>
                        Minimum pack of 8 hours
                    </li>
                    <li>
                        42 days of validity
                    </li>
                </ul>
                <a routerLink='/order'>Buy Now</a>
            </div>
        </div>
    </div>
</div>