<nav class="navbar navbar-expand-lg navbar-light bg-light" id="profileNav">
  <a class="navbar-brand" href="#"><a href="editProfile" style="padding-left: 1rem;"><img
      src="../../../assets/img/studentpp.jpg" class="rounded"
      style="width: 2rem; height: 2rem; border-radius: 1rem;" alt=""></a>
Welcome back {{auth.name}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <a class="nav-link" href="/chat">Messages</a>
      </li>
    </ul>
    <span class="navbar-text">
      <a class="nav-link" href="/">Logout</a>      </span>
  </div>
</nav>
<div class="container ">
  <!-- For demo purpose-->
  <div class="row  overflow-hidden shadow">
    <!-- Users box-->
    <div class="col-5 px-0">
      <div class="bg-white">

        <div class="bg-gray px-4 py-2 bg-light">
          <p class="h5 mb-0 py-1">{{auth.name}}</p>
        </div>

        <div class="messages-box">
          <div class="list-group rounded-0">

            <app-user-list [userList]="userList"></app-user-list>


          </div>
        </div>
      </div>
    </div>
    <!-- Chat Box-->
    <div class="col-7 px-0">
      <div class="px-4 py-5 chat-box bg-white" id="scrollContainer">

        <app-chat-body [messages]="messages"></app-chat-body>


      </div>

      <!-- Typing area -->
      <div>
        <div class="input-group">
          <input type="text" placeholder="Type a message" [(ngModel)]="inputMessage" (keyup.enter)="sendMessage()"
            aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light">
          <div class="input-group-append">
            <button id="button-addon2" type="submit" (click)="sendMessage()" class="btn btn-link"> <i
                class="fa fa-paper-plane"></i></button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>